.page {
    padding: 15px 20px;
}

.block-1 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    height: 124px;
}

.block-2 {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.block-3 {
    display: flex;
    gap: 20px;
}

.right-side-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    padding: 12px;
    border-radius: 12px;
    background-color: #F0F0F0;
    box-sizing: border-box;
}

.avatar-container,
.presonal-info,
.languages-info {
    height: 100%;
}

.header-text {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}