.education {
    display: flex;
    flex-direction: column;
    width: 267px;
    border-radius: 12px;
    padding: 12x;
    gap: 16px;
}

.education-row {
    display: flex;
    gap: 16px;
}

.education-list {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.education-list__item {
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.education-list__card {
    display: flex;
    flex-direction: column;
    width: 116px;
    border-radius: 10px;
    padding: 8px;
    gap: 8px;
    background-color: #fff;
    box-sizing: border-box;
}

.education-list__head {
    display: flex;
    justify-content: space-between;
}

.education-list__header-text {
    font-size: 10px;
    font-weight: 500;
    line-height: 150%;
    color:#000000;
}

.education-list__img {
    width: 11px;
}

.education-list__body {
    display: flex;
    flex-direction: column;
}

.education-list__body-header-text {
    font-size: 10px;
    font-weight: 500;
    line-height: 150%;
    color: #000000;
}

.education-list__body-content {
    font-size: 8px;
    font-weight: 500;
    line-height: 150%;
    color: #149063;
}

.education-list__bottom {
    font-size: 8px;
    font-weight: 400;
    line-height: 150%;
    color: #000000;
}

.education-list__card.selected {
    background-color: #28D979;
}

.education-list__card.selected .education-list__header-text {
    color: #fff;
}

.education-list__card.selected .education-list__body-header-text {
    color: #fff;
}

.education-list__card.selected .education-list__body-content {
    color: #EBF9F2;
}

.education-list__card.selected .education-list__bottom {
    color: #fff;
}