.experience-info {
    display: flex;
    flex-direction: column;
    width: 411px;
    height: 359px;
    gap: 16px;
}

.experience-info__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-info__list-item {
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.experience-info__list-item.selected {
    color: #FFFFFF;
    background-color: #28D979;
}

.experience-info__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-info__period {
    font-size: 8px;
    font-weight: 500;
    line-height: 150%;
}

.experience-info__label {
    color: #DDF163;
    background-color: rgba(126, 115, 18, 0.4);
    padding: 2px 6px;
    border-radius: 59px;
    font-size: 8px;
    font-weight: 500;
    line-height: 155%;
}

.experience-info__content {
    display: flex;
    justify-content: space-between;
}

.experience-info__job {
    width: 124px;
    display: flex;
    flex-direction: column;
}

.experience-info__job-specialty {
    font-size: 10px;
    font-weight: 500;
    line-height: 150%;
}

.experience-info__job-bottom {
    display: flex;
    gap: 6px;
}

.experience-info__list-item.selected .experience-info__job-bottom {
    color: #EBF9F2;
}

.experience-info__job-name,
.experience-info_job-time,
.experience-info__job-simbol {
    font-size: 8px;
    font-weight: 400;
    line-height: 150%;
}

.experience-info__list-item .experience-info__job-bottom {
    color: #3F3D3D;
}

.experience-info_responsibility-list {
    width: 239px;
    margin: 0;
    padding: 0;
    padding-left: 16px;
}

.experience-info_responsibility-list-item {
    font-size: 8px;
    font-weight: 400;
    line-height: 150%;
}