
.interests {
    display: flex;
    flex-direction: column;
    width: 267px;
    border-radius: 12px;
    padding: 12px;
    gap: 16px;
}

.interests-body {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.interests-body-row {
    display: flex;
    gap: 8px;
}

.interests-body-row__item {
    border-radius: 40px;
    padding: 4px 10px;
    background-color: #fff;
    font-size: 10px;
    font-weight: 400;
    line-height: 150%;
}