.tools-info {
    width: 124px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tools-info__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.tools-info__list-item {
    width: 76px;
    border-radius: 6px;
    padding: 16px 4px;
    background-color: #fff;
    box-sizing: border-box;
    position: relative;
}

.tools-info__label {
    padding: 2px 6px;
    border-radius: 59px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 5px;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    line-height: 142%;
}

.tools-info_tools-list {
    display: flex;
    gap: 16px 0;
    flex-wrap: wrap;
}

.tools-info_tools-list-item {
    height: 15px;
    flex: 0 50%;
    display: flex;
    box-sizing: border-box;
}

.tools-info_tools-list-item:nth-child(odd) {
    justify-content: end;
    padding-right: 8px; 
}

.tools-info_tools-list-item:nth-child(even) {
    justify-content: start;
    padding-left: 8px;
}

.tools-info__item {
    height: 100%;
}